Repository reactive-graph/reactive-graph, changes with the labels that .github/labeler.yml gives for each.
All labels: p:documentation, p:continuous-integration, p:distribution, p:build-system, p:dependencies, c:command-system, c:plugin-system, c:runtime, c:rust-client, c:instance-system, c:reactive-behaviour-system, c:security, c:type-system, i:dynamic-graph, i:graphql

deploy: 3d0f4258dab40ff48c061ad5bc41fe667fd92304
  book/About_Changelog.html
  book/Dynamic_Graph_API.html
  book/GraphQL_API_Components.html
  book/GraphQL_API_Entity_Types.html
  book/GraphQL_API_Flow_Types.html
  book/GraphQL_API_Instance_info.html
  book/GraphQL_API_Plugins.html
  book/GraphQL_API_Relation_Types.html
  book/GraphQL_API_Remotes.html
  book/GraphQL_API_Shutdown.html
  book/Plugins_Arithmetic.html
  book/Plugins_Asset.html
  book/Plugins_Binary.html
  book/Plugins_Comparison.html
  book/Plugins_Config.html
  book/Plugins_Connector.html
  book/Plugins_HTTP.html
  book/Plugins_JSON.html
  book/Plugins_Logical.html
  book/Plugins_Meta_Data.html
  book/Plugins_Numeric.html
  book/Plugins_Random.html
  book/Plugins_Scheduler.html
  book/Plugins_String.html
  book/Plugins_System_Environment.html
  book/Plugins_Taxonomy.html
  book/examples/dynamic-graph/graphql.config.yml
  book/examples/dynamic-graph/schema.graphql
  book/examples/graphql/graphql.config.yml
  book/examples/graphql/schema.graphql
  book/print.html
  book/searchindex.js
Labels: p:documentation

Generate GraphQL-Schema during build (Closes #402)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/utils/schema-generator/Cargo.toml
  crates/utils/schema-generator/src/lib.rs
  schema/graphql/reactive-graph-plugin-schema.graphql
  schema/graphql/reactive-graph-runtime-schema.graphql
  schema/graphql/reactive-graph-schema.graphql
Labels: p:documentation, p:dependencies, c:rust-client

Generate GraphQL-Schema during build (Closes #402)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/client/Cargo.toml
  crates/client/build.rs
  crates/utils/schema-generator/Cargo.toml
  crates/utils/schema-generator/src/lib.rs
  schema/graphql/reactive-graph-plugin-schema.graphql
  schema/graphql/reactive-graph-runtime-schema.graphql
  schema/graphql/reactive-graph-schema.graphql
Labels: p:documentation, p:dependencies, c:rust-client

deploy: 6d9535585950bade51c2b9eecd1119082a8fd7e6
  book/About_Changelog.html
  book/Dynamic_Graph_API.html
  book/GraphQL_API_Components.html
  book/GraphQL_API_Entity_Types.html
  book/GraphQL_API_Flow_Types.html
  book/GraphQL_API_Instance_info.html
  book/GraphQL_API_Plugins.html
  book/GraphQL_API_Relation_Types.html
  book/GraphQL_API_Remotes.html
  book/GraphQL_API_Shutdown.html
  book/Plugins_Arithmetic.html
  book/Plugins_Asset.html
  book/Plugins_Binary.html
  book/Plugins_Comparison.html
  book/Plugins_Config.html
  book/Plugins_Connector.html
  book/Plugins_HTTP.html
  book/Plugins_JSON.html
  book/Plugins_Logical.html
  book/Plugins_Meta_Data.html
  book/Plugins_Numeric.html
  book/Plugins_Random.html
  book/Plugins_Scheduler.html
  book/Plugins_String.html
  book/Plugins_System_Environment.html
  book/Plugins_Taxonomy.html
  book/print.html
  book/searchindex.js
Labels: p:documentation

Include an unique JSON schema identifier ($id)
  crates/graph/src/instances/entities/entity_instance.rs
  crates/graph/src/instances/flows/flow_instance.rs
  crates/graph/src/instances/relations/relation_instance.rs
  crates/graph/src/types/components/component_type.rs
  crates/graph/src/types/entities/entity_type.rs
  crates/graph/src/types/flows/flow_type.rs
  crates/graph/src/types/relations/relation_type.rs
Labels: none

Include an unique JSON schema identifier ($id)
  Cargo.lock
  crates/client/build.rs
  crates/utils/schema-generator/Cargo.toml
  crates/utils/schema-generator/src/graphql_schema.rs
  crates/utils/schema-generator/src/json_schema.rs
  crates/utils/schema-generator/src/lib.rs
  schema/json/component.schema.json
  schema/json/entity-instance.schema.json
  schema/json/entity-type.schema.json
  schema/json/flow-instance.schema.json
  schema/json/flow-type.schema.json
  schema/json/relation-instance.schema.json
  schema/json/relation-type.schema.json
Labels: p:dependencies, c:rust-client

Publish graphql and json schemas to https://docs.reactive-graph.io/schema/
  .github/workflows/schema.yml
Labels: p:continuous-integration

Provide an $id field when serializing types and instances
  crates/graph/src/instances/entities/entity_instance.rs
  crates/graph/src/instances/flows/flow_instance.rs
  crates/graph/src/instances/relations/relation_instance.rs
  crates/graph/src/types/components/component_type.rs
  crates/graph/src/types/entities/entity_type.rs
  crates/graph/src/types/flows/flow_type.rs
  crates/graph/src/types/relations/relation_type.rs
  schema/json/flow-instance.schema.json
  schema/json/flow-type.schema.json
Labels: none

Update changelog
  CHANGELOG.md
Labels: p:documentation

Provide an $id field when serializing types and instances
  crates/graph/src/instances/entities/entity_instance.rs
  crates/graph/src/instances/flows/flow_instance.rs
  crates/graph/src/instances/relations/relation_instance.rs
  crates/graph/src/types/components/component_type.rs
  crates/graph/src/types/entities/entity_type.rs
  crates/graph/src/types/flows/flow_type.rs
  crates/graph/src/types/relations/relation_type.rs
  schema/json/flow-instance.schema.json
  schema/json/flow-type.schema.json
Labels: none

Update changelog
  CHANGELOG.md
Labels: p:documentation

Publish graphql and json schemas to https://docs.reactive-graph.io/schema/
  .github/workflows/schema.yml
Labels: p:continuous-integration

Include an unique JSON schema identifier ($id)
  Cargo.lock
  crates/client/build.rs
  crates/utils/schema-generator/Cargo.toml
  crates/utils/schema-generator/src/graphql_schema.rs
  crates/utils/schema-generator/src/json_schema.rs
  crates/utils/schema-generator/src/lib.rs
  schema/json/component.schema.json
  schema/json/entity-instance.schema.json
  schema/json/entity-type.schema.json
  schema/json/flow-instance.schema.json
  schema/json/flow-type.schema.json
  schema/json/relation-instance.schema.json
  schema/json/relation-type.schema.json
Labels: p:dependencies, c:rust-client

Include an unique JSON schema identifier ($id)
  crates/graph/src/instances/entities/entity_instance.rs
  crates/graph/src/instances/flows/flow_instance.rs
  crates/graph/src/instances/relations/relation_instance.rs
  crates/graph/src/types/components/component_type.rs
  crates/graph/src/types/entities/entity_type.rs
  crates/graph/src/types/flows/flow_type.rs
  crates/graph/src/types/relations/relation_type.rs
Labels: none

deploy: 596d15a32499b8cdcfe83cb07bf95ef59db4c315
  schema/graphql/dynamic-graph-schema.graphql
  schema/graphql/reactive-graph-plugin-schema.graphql
  schema/graphql/reactive-graph-runtime-schema.graphql
  schema/graphql/reactive-graph-schema.graphql
  schema/json/component.schema.json
  schema/json/entity-instance.schema.json
  schema/json/entity-type.schema.json
  schema/json/flow-instance.schema.json
  schema/json/flow-type.schema.json
  schema/json/relation-instance.schema.json
  schema/json/relation-type.schema.json
Labels: none

deploy: 596d15a32499b8cdcfe83cb07bf95ef59db4c315
  book/About_Changelog.html
  book/Dynamic_Graph_API.html
  book/GraphQL_API_Components.html
  book/GraphQL_API_Entity_Types.html
  book/GraphQL_API_Flow_Types.html
  book/GraphQL_API_Instance_info.html
  book/GraphQL_API_Plugins.html
  book/GraphQL_API_Relation_Types.html
  book/GraphQL_API_Remotes.html
  book/GraphQL_API_Shutdown.html
  book/Plugins_Arithmetic.html
  book/Plugins_Asset.html
  book/Plugins_Binary.html
  book/Plugins_Comparison.html
  book/Plugins_Config.html
  book/Plugins_Connector.html
  book/Plugins_HTTP.html
  book/Plugins_JSON.html
  book/Plugins_Logical.html
  book/Plugins_Meta_Data.html
  book/Plugins_Numeric.html
  book/Plugins_Random.html
  book/Plugins_Scheduler.html
  book/Plugins_String.html
  book/Plugins_System_Environment.html
  book/Plugins_Taxonomy.html
  book/print.html
  book/searchindex.js
Labels: p:documentation

Added introduction page
  index.html
Labels: none

Added schema overview page
  index.html
  schema.html
Labels: none

Added script to update the command reference
  tools/update-cli-command-reference.sh
Labels: none

Initial generated command reference
  docs/cli/reference/reactive-graph-client.md
  docs/cli/reference/reactive-graph-server.md
  docs/cli/reference/reactive-graph-tooling.md
  docs/cli/reference/reactive-graph.md
Labels: p:documentation

Use the generated command references in the book
  book/src/CLI.md
  book/src/CLI_Reference.md
  book/src/CLI_Reference_Client.md
  book/src/CLI_Reference_Server.md
  book/src/CLI_Reference_Tooling.md
  book/src/SUMMARY.md
Labels: p:documentation

Added workflow action that deploys the command reference to docs.reactive-graph.io
  .github/workflows/command-reference.yml
Labels: p:continuous-integration

.github/labeler.yml:

p:documentation:
  - changed-files:
      - any-glob-to-any-file:
          - CHANGELOG.md
          - CODE_OF_CONDUCT.md
          - CONTRIBUTING.md
          - README.md
          - SECURITY.md
          - book/**
          - docs/**
          - .github/workflows/docs.yml
p:continuous-integration:
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**
          - .github/dependabot.yml
          - .github/labeler.yml
          - .github/pr-labeler.yml
p:distribution:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - crates/reactive-graph/debian/**
          - .github/workflows/release.yml
          - .github/workflows/docker.yml
p:build-system:
  - changed-files:
      - any-glob-to-any-file:
          - clippy.toml
          - .rustfmt.toml
          - codecov.yaml
          - .github/workflows/msrv.yml
p:dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - Cargo.toml
          - Cargo.lock
          - crates/**/Cargo.toml
          - .github/workflows/dependabot-approve-and-auto-merge.yml
c:command-system:
  - changed-files:
      - any-glob-to-any-file:
          - crates/command/**
c:plugin-system:
  - changed-files:
      - any-glob-to-any-file:
          - crates/plugin/**
c:runtime:
  - changed-files:
      - any-glob-to-any-file:
          - crates/runtime/**
c:rust-client:
  - changed-files:
      - any-glob-to-any-file:
          - crates/client/**
c:instance-system:
  - changed-files:
      - any-glob-to-any-file:
          - crates/instance-system/**
c:reactive-behaviour-system:
  - changed-files:
      - any-glob-to-any-file:
          - crates/behaviour/**
          - crates/reactive/**
c:security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
c:type-system:
  - changed-files:
      - any-glob-to-any-file:
          - crates/type-system/**
i:dynamic-graph:
  - changed-files:
      - any-glob-to-any-file:
          - crates/dynamic-graph/**
i:graphql:
  - changed-files:
      - any-glob-to-any-file:
          - crates/graphql/**
          - crates/runtime/graphql/**
